//? ------- COLORS ------- ?//
$color-primary: #16213e;
$color-primary-dark: #1a1a2e;
$color-primary-light: #0f3460; 
$color-accent: #e94560;
$color-white: rgba(255, 255, 255, 0.8);
$color-dark: #121212;